@use '@/styles/variables' as v;
@use '@/styles/mixins' as m;
@use "sass:color"; // Add the sass color module

.top-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  background-color: v.$primary-color;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: v.$transition-base;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transform: translateY(1rem);
  
  &.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  &:hover {
    background-color: v.$primary-color-dark; // Use the new variable
    transform: translateY(-3px);
  }
  
  svg {
    font-size: 1.25rem;
  }
}